.coverage
.dockerignore
.editorconfig
.env
.env/
.venv
.venv/
#.git/
.gitchangelog.rc
.gitignore
.gitlab-ci.yml
.gitlab/
.gitmodules
.idea/
.pre-commit-config.yaml
.pytest_cache/
.ruff_cache/
.travis.yml
*/__pycache__/
*/*.pyc
db.sqlite
dist/
docker-compose.*
Dockerfile
Dockerfile.*
#README.md
run/
!run/start.sh
!run/supervisord.conf
*.egg
*.egg-info
*.egg-info/
*.sql
*.tar
*.tgz
*.7z
*.xz
*.bzip2
*.gzip
*.zip
*.wim
*.lzma
*.lzma2
